body {
  margin: 0;
  display: flex;
  background-color: #d7b3f9;
  height: 100vh; 
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  }

.login-container {
  width: 600px;
  height: 100%;
  flex-shrink: 0;
  margin: 0px auto; 
  padding: 40px;
  background-color: #ecebeb;
  border-radius: 00px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left: auto;
}


.MuiTextField-root {
  margin-bottom: 20px; 
}



.login-container button[type="submit"] {
  margin-top: 60px; 
  margin-bottom: 60px;
}

.login-title {
  font-size: 40px;
  text-align: center;
  color: #504099;
  margin-top: 60px; 
}


img#image-style{
  max-width: 100%;
  height: auto;
  margin-right: auto;


  
}
#containerId {
  display: flex;
  max-width: 100%

  

}

.image-column {
  padding: 0px;
  text-align: center; 
}

.login-column {
  padding: 0px;
  background-color: #f5f5f5; 
}



@media (max-width: 700px) {
  body{
    display: flex;
    flex-direction: column;
  }
  .login-container{
    width: 80%;
    margin-left: auto;

  }
  img#image-style{
    align-items: center;
    justify-content: center;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .login-title{
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  .login-container button[type="submit"]{
    margin-top: 10%;
    margin-bottom: 0%;
  }

  .image-column{
    margin-left: 15%;
    width: 70%;
  }

  #containerId{
    margin-left: 0%;
    width: 90%;
  }

}
